.iconePrincipal 
{	
	margin: 0 auto;
    float: none;
}

.iconeinstagram
{
	
}

.iconeFacebook
{
	margin-right: 10px;
}
.texto
{
	text-align: center;
}

.posicao, .iconeFacebook, .iconeinstagram
{
	float: right;
}

.imgMax, .iconeFacebook, .iconeinstagram  
{
	max-width: 50px;
	max-height: 50px; 
}

#cabecalho {
  background-color: #fadb3d;
  height: auto;
}

#textoTitulo {
  font-size: 30px;
}
.seletores {
  margin-top: 30px;
  margin-bottom: 30px;
 }
 #videoFinal{
 	font-size: 20px;
 }

